@model MyModel
@{
	ViewData["Title"] = "GridMenu";
	Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="menu menu2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header wow fadeInDown">
					<h1>Grid View<small>These fine folks trusted the award winning restaurant.</small></h1>
				</div>
			</div>
		</div>
		<div class="food-menu wow fadeInUp">
			<div class="row">
				<div class="col-md-12">
					<div class="menu-tags4">
						@foreach (var item in Model.productGroups)
						{
							<span data-filter=@string.Format(".{0}",@item.ProductGroupID)>@item.ProductGroupNameTR</span>
						}

					</div>
				</div>
			</div>
			<div class="row menu-items4">

				@foreach (var item in Model.products)
				{
					<div class="menu-item4 col-sm-4 col-xs-12 @item.ProductGroupID">
						<div class="menu-info">
							<img src="@item.ProductImgUrl" class="img-responsive" alt="" />
							<a href="./menu_all.html">
								<div class="menu4-overlay">
									<h4>@item.ProductNameTR</h4>
									<p>
										@item.ProductDescriptionTR
									</p>
									<span class="price">@item.ProductPrice ₺</span>
								</div>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>


